*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}
body{
	background: rgb(235,235,235);
}
.content{
	margin-top: 40px 0;
	padding: 40px 0;
}
.clearfix:after{
	content: "";
	display: block;
	clear: both;
}
/*页头页尾*/
.header{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 30px;
	padding: 5px;
	background: rgb(33,185,233);
	z-index: 10;
}
.header p{
	color: white;
	text-align: center;
	line-height: 30px;
}
/*首页*/
.userLogin a{
	display: block;
	margin: 100px 0;
}
.userLogin a img{
	display: block;
	width: 25%;
	margin: 0 auto 10px;
}
.userLogin a span{
	display: block;
	color: #555;
	text-align: center;
}
.contentIndex li{
	float: left;
	width: 33.333%;
}
.contentIndex li a{
	position: relative;
	display: block;
	width: 100%;
	height: 120px;
	padding-top: 20px;
	color: rgb(33,185,233);
	box-sizing: border-box;
	border: 1px solid #ddd;
}
.contentIndex li a i{
	display: block;
	font-size: 40px;
	text-align: center;
	
}
.contentIndex li a span{
	display: block;
	text-align: center;
}
/*登陆界面////////////////////////////*/
.home{
	position: absolute;
	left: 0;
	top: 0;
	padding: 9px 20px;
	color: #fff;
}
.logIn{
	width: 80%;
	margin: 20px auto;
}
.logIn div{
	width: 80%;
	margin: 0 auto 20px;
	padding: 5px;
	background: #fff;
	border-radius: 4px;
}
.logIn .pW{
	margin-bottom: 10px;
}
.userPic img{
	display: block;
	margin: 80px auto 50px;
}
.logIn input[type="text"],.logIn input[type="password"]{
	height: 28px;
	padding-left: 3%;
	line-height: 28px;
	border: 0;
	border-left: 1px solid #ccc;
}
.logIn i{
	padding: 0 5px;
	color: #555;
}
.logIn .right{
	float: right;
	line-height: 28px;
}
.logIn .forgot{
	margin-right: 10%;
	margin-bottom: 10px;
	color: #555;
	font-size: 14px;
}
.logIn input[type="submit"]{
	display: block;
	width: 80%;
	height: 40px;
	margin: 30px auto;
	background: #4cc;
	border: 1px solid transparent;
	border-radius: 2px;
	font-size: 20px;
	color: white;
}
.contentLogIn > a{
	display: block;
	width: 64%;
	margin: 150px auto 0;
	padding: 10px 0;
	color: #555;
	background: #fff;
	text-align: center;
	border-radius: 4px;
	font-size: 12px;
}
/*注册界面////////////////////////////////////////////////*/
.contentSignIn{
	width: 90%;
	margin: 50px auto;
}
.agr p, .agr span{
	font-size: 16px;
}
h2{
	margin-bottom: 10px;
	font-size: 25px;
	text-align: center;
}
.login3{
	width: 18%;
	margin: 0 auto;
}
.login3 a{
	color: red;
}
.login3 a:hover{
	color:green;
}
 .contentSignIn li{
 	margin: 15px;
 	background: #FFF;
 	border-radius: 4px;
 }
.contentSignIn li > input{
	display: inline-block;
	width: 60%;
	margin: 10px auto;
	color: #444;
	font-size: 14px;
	border: 0;
}
.titleLeft{
	display: inline-block;
	width: 25%;
	height: 38px;
	padding: 0 5px;
	color: #000;
	background: #ddd;
	text-align: center;
	line-height: 38px;
	border-radius: 4px 0 0 4px;
}
.contentSignIn li .star{
	float: right;
	margin-right: -20px;
	color: red;
	line-height: 38px;
	font-size: 20px;
	font-weight: 700;
}

/*验证码设置*/
.verifyBox input{
	width: 49.2%;
	padding: 6px 10px;
	font-size: 16px;
	border: 0;
	box-sizing: border-box;
}
.verifyBox #sub{
	color: white;
	background: rgb(24,190,238);
	border-radius: 0 4px 4px 0;
}
.agreenBox{
	width: 90%;
	margin: 0 auto;
	font-size: 14px;
}
/*注册按钮*/
#signin3{
	display: block;
	width: 100%;
	height: 40px;
	margin-top: 100px;
	color: white;
	background: rgb(24,190,238);
	font-size: 20px;
	border: 0;
	border-radius: 4px;
}
#signin3:hover{
	background: #7da;
	cursor: pointer;
}

/*支付&充值&提现&优惠券页面//////////////////////*/
.payBox{
	padding: 5%;
	padding-top: 60px;
}
.payBox input{
	margin: 20px auto;
	font-size: 20px;
	line-height: 40px;
}
.payBox h2 {
	height: 40px;
	color: #666;
	font-size: 28px;
	text-align: center;
}
#money{
	display: block;
	margin: 20 auto;
	padding: 0 10px;
	border: 1px solid #ccc;
	border-radius: 8px;
}
.payBox .payMent{
	border: 1px solid transparent;
	border-radius: 8px;
}
.payBox input[type="button"]{
	width: 100%;
	margin-top: 40px;
	color: white;
	background: rgb(25,191,263);
	border: 1px solid #ccc;
	border-radius: 8px;
	box-sizing: border-box;
}
.payBox button{
	display: block;
	width: 100%;
	padding: 10px;
	color: #555;
	background: #fff;
	border: 0;
	border-top: 1px solid #ddd;
	border-left: 0;
	border-right: 0;
	font-size: 20px;
	cursor: pointer;
}
.payBox button:first-child{
	margin-top: 0;
	border: 0;
	border-radius: 8px 8px 0 0;
}
.payBox button:last-child{
	margin-bottom: 0;
	border-radius: 0 0 8px 8px;
}
.payBox .payWrap input{
	color: #fff;
	background: rgb(0, 150, 90);
}
.payBox .payWrap input:hover {
	background: rgb(250, 150, 90);
}
.payBox .payMent .tPay{
	color: #fff;
	background: rgb(25,191,263);;
/*	box-shadow: 5px 5px 5px rgb(243,43,52);*/
}
.payBox p{
	text-align: center;
}
/*支付界面微调*/
.payBox #pay{
	display: block;
	margin: 20px auto;
	color: #fff;
	background: rgb(50, 150, 100);
	font-size: 20px;
	font-weight: 700;
}
.choiceStor{
	font-size: 18px;
}
.choiceStor select{
	font-size: 16px;
	padding: 5px;
	color: #488;
	border: 1px solid #ccc;
	border-radius: 4px;
}
/*提现界面微调*/
.payBox .center{
	margin: 10px;
	text-align: center;
}
/*优惠券  ///.contentCouponPay*/
.contentCouponPay img{
	float: left;
}
.contentCouponPay .couponPayWrap{
	position: relative;
	background: #fff;
}
.contentCouponPay li{
	margin: 10px 0;
}
.contentCouponPay li div div{
	float: left;
	padding: 20px 5px;
	color: #000;
}
.contentCouponPay li div form{
	position: absolute;
	top: 35%;
	right: 10px;
	width: 20%;
	height: 30px;
}
.fontSize{
	font-size: 12px
}
.contentCouponPay li input{
	width: 100%;
	height: 30px;
	background: #fff;
	border: 1px solid #555;
	border-radius: 8px;
}
/*弹窗样式*/
#mask{
	position: absolute;
	left: 0;
	top: 0;
	background: rgba(0,0,0,0.5);
	z-index: 999;
}
#tipBox{
	position: absolute;
	width: 70%;
	padding: 10px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 8px;
	z-index: 999;
}

#tipBox h2{
	text-align: center;
}
#surePay{
	display: block;
	width: 80%;
	margin: 20px auto;
	height: 50px;
	color: #fff;
	background: rgb(0,170,50);
	font-size: 20px;
	border: 0;
	border-radius: 8px;
	cursor: pointer;
}
#login:hover{
	background: #8d8;
}
#tipBox p{
	margin:15px auto 0;
	text-align: center;
	font-size: 20px;
}
#tipBox p span{
	font-size: 18px;
}
#tipBox p span:last-child{
	color: red;
}
#close{
	position: absolute;
	top: 1px;
	right: 1px;
	width: 25px;
	height: 25px;
	background: #fff;
	border: 0;
	border-radius: 4px;
	font-size: 20px;
	line-height: 20px;
}
#close:hover{
	color: red;
	background: #eee;
	cursor: pointer;
}
/*用户中心//////////////////////////*/
.logOut{
	position: absolute;
	top: 0;
	right: 0;
	padding: 9px 20px;
	color: #fff;
	font-size: 14px;
}
.userContent{
	margin-bottom: 30px;
}
.userPicture{
	margin: 30px 0 20px;
}
.userPicture img{
	display: block;
	margin: 0 auto 10px;
}
.userPicture p{
	text-align: center;
}
.userPicture p .colorRed{
	color: red;
}
.userContent > p{
	margin-bottom: 20px;
	margin-left: 15%;
	font-size: 20px;
}
.recharge{
	display: inline-block;
	padding: 0 10px;
	color: white;
	background: rgb(0,170,50);
	border-radius: 4px;
}
.userMoney p{
	width: 50%;
	height: 50px;
	color: white;
	background: rgb(54,176,214);
	line-height: 50px;
	font-size: 16px;
	text-align: center;
}
.userMoney p i{
	font-size: 20px;
}
.userMoney .left{
	float: left;
	border-right: 1px solid #fff;
	box-sizing: border-box;
}
.userMoney .right{
	float: right;
}
.menu a{
	display: block;
	width: 95%;
	padding: 5px 10px;
	margin: 10px auto;
	color: #555;
	background: #fff;
	box-sizing: border-box;
	border-radius: 4px;
}
.menu a i{
	float: right;
	margin-top: 2px;
}
/*用户设置*/
.signInOut a{
	position: fixed;
	left: 0;
	bottom: 20px;
	display: block;
	width: 95%;
	margin: 0 2.5%;
	padding: 10px 0;
	color: #fff;
	background: #f00;
	text-align: center;
	border-radius: 8px;
}
/*记录表////*/
/*.userHistory {
	padding: 2%;
}
.userHistory ul{
	display: inline-block;
	width: 100%;
	background: #ccc;
	border: 1px solid #ccc;
	border-radius: 8px;
}
.userHistory li{
	float: left;
	width: 19%;
	padding: 5px 3%;
	color: #444;
	font-weight: 700;
	list-style: none;
}
.userHistory table{
	margin: 10px auto;
	border: 1px solid;
}
#payHistory table{
	width: 800px;
}
#accHistory table{
	width: 500px;
}
.userHistory tr{
	margin: 10px 0;
}
.userHistory tr:nth-child(odd){
	background: #ddf;
}
.userHistory th{
	color: #fff;
	background: #4aa;
}
.userHistory th,td{
	padding: 5px 5px;
	border-right: 1px solid #aaa;
}

.userHistory div{
	display: none;
}
.userHistory .show{
	display: block;
	overflow-x: scroll;
}
.userHistory .showList{
	color: #fff;
	background: #4aa;
	border-radius: 8px;
}*/